
* {
    margin: 0;
    padding: 0;
}

/*-----navigation-----*/

#nav-bar {
    position: sticky;
    padding: 30px 0px;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
    padding-left: 80px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
        float: right;
        text-align: left;
    }

#nav-bar ul li a:hover {
    color: blue !important;
}

.navbar {
    background: #000000;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
}
#gal h1 {
    text-align: center;
    color: #000000 !important;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*-------footer-------*/
#footer {
    width: 100%;
    background-color: #fff;
    padding: 60px 0px;
}

#footer .nav-link {
        color: #222;
        font-weight: 600;
        font-size: 12px;
    }

#footer .nav-link:hover {
            color: blue !important;
        }

#footer h1 {
        text-align: center;
        color: #222 !important;
        padding-bottom: 10px;
        padding-top: 10px;
    }

.copyright {
    color: #222 !important;
    padding-top: 10px;
    padding-bottom: 0px;
}

.copyright h7 {
        font-size: 12px;
    }